module.exports = {
  content: ["./src/**/*.{js,jsx,ts,tsx}"],
  theme: {
    extend: {
      colors: {
        'africharge-blue': '#1E40AF',
        'africharge-gray': '#4B5563',
      },
      fontFamily: {
        'sans': ['"Roboto", sans-serif'],
      },
    },
  },
  plugins: [],
}